body {
    padding: 20px;
    header {
        text-align: center;
        font-size: 30px;
        margin-bottom: 40px;
    }
    .form__header {
        display: flex;
        justify-content: space-around;
        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}